<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="vendor/autoload.php"
         backupGlobals="false"
         colors="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Feature">
            <directory suffix=".php">./tests/Feature</directory>
        </testsuite>
        <testsuite name="Unit">
            <directory suffix=".php">./tests/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>
